*.dbf
*.doc*
*.gddoc
*.gdsheet
*.gpkg
*.html
*.log
*.mdb
*.shp*
*.shx
*.synctex.gz
*.toc
*.xls*
*_files
.DS_Store
.RData
.Renviron
.Rhistory
.Rproj.user
.Ruserdata
.httr-oauth
docs
inst/doc
libs
output
renv/library
