# DO NOT CHANGE the "init" and "install" sections below

# Download script file from GitHub
init:
  ps: |
        $ErrorActionPreference = "Stop"
        Invoke-WebRequest http://raw.github.com/krlmlr/r-appveyor/master/scripts/appveyor-tool.ps1 -OutFile "..\appveyor-tool.ps1"
        Import-Module '..\appveyor-tool.ps1'

install:
  ps: Bootstrap

cache:
  - C:\RLibrary

# Adapt as necessary starting from here

build_script:
  - travis-tool.sh install_deps

test_script:
  - travis-tool.sh run_tests

on_failure:
  - 7z a failure.zip *.Rcheck\*
  - appveyor PushArtifact failure.zip

artifacts:
  - path: '*.Rcheck\**\*.log'
    name: Logs

  - path: '*.Rcheck\**\*.out'
    name: Logs

  - path: '*.Rcheck\**\*.fail'
    name: Logs

  - path: '*.Rcheck\**\*.Rout'
    name: Logs

  - path: '\*_*.tar.gz'
    name: Bits

  - path: '\*_*.zip'
    name: Bits

before_deploy:
  cmd: |
    CURRENT_VERSION=$(grep 'Version: .*' DESCRIPTION | awk '{print $2}')
    CURRENT_PACKAGE=$(grep 'Package: .*' DESCRIPTION | awk '{print $2}')
    export PKG_TARBALL=$CURRENT_PACKAGE'_'$CURRENT_VERSION'.tar.gz'
    Rscript -e 'install.packages("drat")'
    git clone --depth 1 https://$GH_TOKEN@github.com/inbo/drat.git ../drat -b gh-pages
    Rscript -e "drat::insertPackage('$PKG_TARBALL', '../drat')"
    cd ../drat
    git commit --all -m "INBOmd from appveyor"
    git push 2>err.txt
