.block {
    background:#E5E5E5;
    padding:10px;
    border:1px solid black;
}

.exampleblock {
    background:#BBBD3C;
    padding:10px;
    border:1px solid black;
}

.alertblock {
    background:#843860;
    color:white;
    padding:10px;
    border:1px solid black;
}

.alertblock a:link, .alertblock a:hover, .alertblock a:active, .alertblock a:visited {
    color:#BBBD3C;
}

a:link, a:hover, a:active, a:visited {
    color:#C04384;
}

blockquote {
    font-size: 14px;
    border-left: 4px solid #989898;
}}

th, td {
    font-size: 11px;
}
