/* ----- DESIGN BY DEBUGGED ----- */
/* more info at www.debugged.be */

/* adapted by thierry.onkelinx@inbo.be to work with GitBooks */

/*IMPORTS
============================================================================================*/
/*fonts*/
/* SECTION REMOVED */
/*owl-carousel*/
/*slidebars*/
/*!
 * Slidebars - A jQuery Framework for Off-Canvas Menus and Sidebars
 * Version: 2.0.2
 * Url: http://www.adchsm.com/slidebars/
 * Author: Adam Charles Smith
 * Author url: http://www.adchsm.com/
 * License: MIT
 * License url: http://www.adchsm.com/slidebars/license/
 */
/* SECTION REMOVED */
/*Lightbox*/
/* SECTION REMOVED */
/*DEBUGGED cookies*/
/* SECTION REMOVED */
/* ----- DESIGN BY DEBUGGED ----- */
/* more info at www.debugged.be */
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

1.  CSS Reset
2.  Global Grid
3.  Mobile Grid
4.  Extra Classes
5.  LESS prefixes
6.  Site styles
7.  Media queries

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/*
1.  CSS Reset by Eric Meyer http://meyerweb.com/eric/tools/css/reset/
============================================================================================*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type="text"],
input[type="submit"],
input[type="button"],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -ms-border-radius: 0 0 0 0;
  -o-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
/*
2.  Global Grid
============================================================================================*/
.container {
  margin: auto;
  width: 100%;
  max-width: 1340 px;
}
/* SECTION REMOVED */
/*
3.  Mobile Grid
============================================================================================*/
@media only screen and (max-width: 719px) {
  .container {
    width: 90%;
  }
}
/* SECTION REMOVED */
/*
4.  Extra classes
============================================================================================*/
a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
img.scale {
  max-width: 100%;
  height: auto;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
/*selection color*/
::selection {
  background: #c04384;
  color: #fff;
}
::-moz-selection {
  background: #c04384;
  color: #fff;
}
/*enable touch if possible*/
canvas {
  -ms-touch-action: double-tap-zoom;
}
/*
5.  LESS prefixes
============================================================================================*/
/*FONT FACE
============================================================================================*/
@font-face {
  font-family: 'flanders_art_sanslight';
  src: url("fonts/FlandersArtSans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flanders_art_sansmedium';
  src: url("fonts/FlandersArtSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flanders_art_sansregular';
  src: url("fonts/FlandersArtSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flanders_art_sansbold';
  src: url("fonts/FlandersArtSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'flanders_art_sans';
  src: url("fonts/FlandersArtSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'flanders_art_sans';
  src: url("fonts/FlandersArtSans-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'flanders_art_sans';
  src: url("fonts/FlandersArtSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'flanders_art_sans';
  src: url("fonts/FlandersArtSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
/*
6.  Site styles
============================================================================================*/
/*COLORS
============================================================================================*/
/*FONT
============================================================================================*/
/*URL
============================================================================================*/
/*MIXINS
============================================================================================*/
/*DEBUGGED COOKIE OPTIONS (overlay) - COLORS & FONTS
============================================================================================*/
/* SECTION REMOVED */
/*GENERAL
============================================================================================*/
html,
body,
.wrapper {
  overflow: visible;
}
body {
  background: #fff !important;
  font-family: 'flanders_art_sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #595959;
  font-weight: 300;
  position: relative !important;
  bottom: auto !important;
  overflow: auto !important;
}
body a {
  font-weight: 400;
}
h1 {
  font-family: 'flanders_art_sansmedium', sans-serif;
  font-size: 45px;
  line-height: 51px;
  color: #356196; /* ALTERED: color: #fff*/
  text-transform: uppercase;
  margin-bottom: 15px;
}
h2 {
  font-size: 43px;
  line-height: 49px;
  color: #356196;
  font-family: 'flanders_art_sansregular', sans-serif;
}
p {
  margin-bottom: 25px;
}
p:last-of-type {
  margin-bottom: 0;
}
a {
  border: 0;
  text-decoration: underline;
  color: #c04384;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: #c04384 auto 1px;
}
img {
  border: 0;
  max-width: 100%;
}
img:focus {
  outline: #c04384 auto 1px;
}
strong,
b {
  font-weight: 700;
}
em,
i {
  font-style: italic;
}
ul {
  list-style-type: disc;
  list-style-position: outside;
  margin: 25px 0 25px 17px;
}
ul li {
  padding-left: 10px;
}
ol {
  list-style-type: decimal;
  list-style-position: outside;
  margin: 25px 0 25px 17px;
}
ol li {
  padding-left: 15px;
}
.margin-bottom {
  margin-bottom: 20px;
}
.text-center {
  text-align: center;
}
.hidden {
  display: none;
}
/* SECTION REMOVED */
.icon-twitter:before {
  content: '\f099' !important;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'inbo' !important;
}
.btn {
  display: inline-block;
  background-color: #356196;
  text-transform: uppercase;
  color: #fff;
  font-family: 'flanders_art_sansmedium', sans-serif;
  font-size: 17px;
  line-height: 23px;
  text-decoration: none;
  padding: 10px 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border-radius: 0;
}
.btn:hover {
  background-color: #284970;
}
.btn i {
  font-size: 13px;
  line-height: 19px;
}
.btn.margin-top {
  margin-top: 25px;
}
.btn.pink {
  background-color: #c04384;
}
.btn.pink:hover {
  background-color: #9c346a;
}
.btn.ghost-pink.pink {
  background-color: transparent;
  color: #c04384;
  border: 1px solid #c04384;
}
.btn.ghost-pink.pink:hover {
  color: #fff;
  background-color: #9c346a;
  border-color: #9c346a;
}
.btn.publicaties {
  background-color: #C1C443;
}
.btn.publicaties:hover {
  background-color: #9fa133;
}
.btn.project {
  background-color: #356196;
}
.btn.project:hover {
  background-color: #284970;
}
.btn.dataset {
  background-color: #c04384;
}
.btn.dataset:hover {
  background-color: #9c346a;
}
.btn.content {
  background-color: #43aac4;
}
.btn.content:hover {
  background-color: #338ba1;
}
.btn.person {
  background-color: #c8c8c8;
}
.btn.person:hover {
  background-color: #afafaf;
}
.btn.green {
  background-color: #C1C443;
}
.btn.green:hover {
  background-color: #9fa133;
}
.btn.small-btn {
  font-size: 10px;
  line-height: 16px;
  padding: 4px 12px;
}
.btn.full-width {
  margin-top: 25px;
  width: 100%;
  margin-top: 35px;
  margin-bottom: 20px;
  padding: 15px;
}
/* SECTION REMOVED */
.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
  visibility: hidden;
}
/* SECTION REMOVED */
footer.pdf-footer .footer-bottom .sixteen {
  justify-content: flex-start;
}
@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.grid-item {
  width: 45%;
}
.no-margin {
  margin: 0 !important;
}
.grid-item--width2 {
  width: 45%;
}
#mainStagePanelInner {
  height: 450px !important;
}
#contentPanel {
  height: 450px !important;
}
.descLegendPanel {
  display: none !important;
}
body:not(.mobile-view).layout-tab-left-small .esriSimpleSlider,
body:not(.mobile-view).layout-tab-left-small .geocoderBtn {
  left: 20px !important;
}
/* SECTION REMOVED */
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th.dtr-control:before {
  background-color: #C1C443 !important;
  border: none !important;
  text-align: center !important;
  line-height: 16px !important;
  top: 23px !important;
}
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th.dtr-control:before {
  background-color: #c04384 !important;
}
.neg-margin {
  width: 102%;
  margin-left: -1%;
  margin-right: -1%;
}
/* SECTION REMOVED */
/*FLEXBOX*/
/* SECTION REMOVED */
/* SECTION REMOVED */
/*SWALL*/
/* SECTION REMOVED */
/*FORM
============================================================================================*/
/* SECTION REMOVED */
/*FILTER OVERLAY
============================================================================================*/
/* SECTION REMOVED */
/*MOBILE NAVIGATION
============================================================================================*/
.overlay-wrapper {
  display: none;
}
.js-close-any {
  cursor: pointer;
}
.js-close-any:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(13, 13, 13, 0.4);
  z-index: 9990;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobile-nav {
  background: #fff;
  background: url(img/white-pattern.jpg) repeat;
  width: 35%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #595959;
  -webkit-shadow: 5px 0px 15px 0px rgba(13, 13, 13, 0.3);
  -moz-shadow: 5px 0px 15px 0px rgba(13, 13, 13, 0.3);
  -ms-box-shadow: 5px 0px 15px 0px rgba(13, 13, 13, 0.3);
  -o-box-shadow: 5px 0px 15px 0px rgba(13, 13, 13, 0.3);
  box-shadow: 5px 0px 15px 0px rgba(13, 13, 13, 0.3);
  text-align: center;
  padding: 30px;
}
.mobile-nav .sub-nav-small {
  display: none;
}
.mobile-nav .close {
  color: #595959;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 28px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: right;
  margin-bottom: 15px;
}
.mobile-nav .close:hover {
  color: #356196;
}
.mobile-nav nav {
  text-align: left;
  margin-top: 25px;
}
.mobile-nav nav ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mobile-nav nav ul li {
  display: block;
  margin: 0 0 4px 0;
  padding: 0;
}
.mobile-nav nav ul li > ul {
  margin: 3px 20px 25px;
  display: none;
}
.mobile-nav nav ul li > ul > li {
  margin-bottom: 1px;
}
.mobile-nav nav ul li > ul > li a {
  font-family: 'flanders_art_sansregular', sans-serif;
  font-size: 16px;
  line-height: 22px;
  padding: 4px 0;
}
.mobile-nav nav ul li:before {
  display: none;
}
.mobile-nav nav ul li a {
  display: block;
  color: #595959;
  font-family: 'flanders_art_sansmedium', sans-serif;
  padding: 5px 0;
  text-decoration: none;
  text-transform: none;
  font-size: 19px;
  line-height: 25px;
  position: relative;
}
.mobile-nav nav ul li a i:before {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.mobile-nav nav ul li a:hover,
.mobile-nav nav ul li a.active {
  color: #356196;
}
.mobile-nav nav ul li a.open i:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
/*HEADER
============================================================================================*/
/* SECTION REMOVED */
/*CONTENT
============================================================================================*/
/* SECTION REMOVED */
/*FOOTER
============================================================================================*/
/* SECTION REMOVED */
/*
7.  Media queries
============================================================================================*/
/* SECTION REMOVED */
@media only screen and (max-width: 1340px) {
  .block {
    padding: 40px 0;
  }
/* SECTION REMOVED */
}
/* SECTION REMOVED */
/*Tablet*/
@media only screen and (max-width: 959px) {
  .filter-overlay {
    width: 60%;
  }
  h1 {
    font-size: 40px;
    line-height: 46px;
  }
  h2 {
    font-size: 38px;
    line-height: 44px;
  }
  .sticky {
    position: relative;
  }
  .large-block,
  .medium-block {
    padding: 50px 0;
  }
  .back {
    position: relative;
    margin-top: 0;
    margin-bottom: 10px;
  }
/* SECTION REMOVED */
}
@media only screen and (max-width: 830px) {
  .mobile-nav {
    width: 50%;
  }
  .mobile-nav .sub-nav-small {
    display: block;
  }
/* SECTION REMOVED */
}
/*Phone*/
@media only screen and (max-width: 719px) {
  h2 {
    font-size: 35px;
    line-height: 41px;
  }
  .filter-overlay {
    width: 75%;
  }
  .large-block,
  .medium-block {
    padding: 30px 0;
  }
  .back {
    margin-bottom: 5px;
  }
/* SECTION REMOVED */
}
@media only screen and (max-width: 650px) {
  .block {
    padding: 30px 0;
  }
/* SECTION REMOVED */
}
/*Phone*/
@media only screen and (max-width: 600px) {
  .mobile-nav {
    width: 75%;
  }
  .btn {
    font-size: 16px;
    line-height: 22px;
  }
/* SECTION REMOVED */
}
/*Tablet*/
@media only screen and (max-width: 500px) {
/* SECTION REMOVED */
  h1 {
    font-size: 32px;
    line-height: 38px;
  }
  .filter-overlay {
    width: 90%;
  }
  .large-block,
  .medium-block {
    padding: 20px 0;
  }
/* SECTION REMOVED */
}
/*Phone*/
@media only screen and (max-width: 475px) {
  .white-shadow-box {
    padding: 35px 30px;
  }
/* SECTION REMOVED */
  h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .filter-overlay {
    width: 100%;
  }
  .mobile-nav {
    width: 100%;
  }
  .mobile-nav nav ul li a {
    font-size: 18px;
    line-height: 24px;
  }
/* SECTION REMOVED */
}
.select2-container {
  z-index: 50000;
}
/* SECTION REMOVED */

/* extra css for gitbooks */
.book.font-family-1 {
  font-family: 'flanders_art_sans', sans-serif;
}
.book .book-summary {
  font-family: 'flanders_art_sans', sans-serif;
}
.book .book-header,.book .book-summary {
  font-family: 'flanders_art_sans', sans-serif;
}
.page-wrapper {
  background-image: url(img/background-pattern.png);
  background-color: #f5f5f5;
  -webkit-background-size: auto;
  -moz-background-size: auto;
  -o-background-size: auto;
  background-size: auto;
  background-repeat: repeat;
  background-position: center center;
  min-height: 100vh;
}
.book .book-body .page-wrapper .page-inner section.normal a {
  border: 0;
  text-decoration: underline;
  color: #c04384;
}
.book .book-summary ul.summary li ul {
  margin: 2px 0 2px 10px;
}
.book .book-summary ul.summary li a, .book .book-summary ul.summary li {
  border: 0;
  text-decoration: underline;
  color: #356196;
  white-space: normal;
  padding: 1px;
}
.book .book-summary ul.summary li a:hover, .book .book-summary ul.summary li.active>a {
  color: #c04384;
}
.book .book-summary ul.summary {
  top: 510px;
}
.book .book-header .btn {
  color: #fff;
}
.book .book-header h1 {
  opacity: 100%;
}
.book.font-size-2 .book-body .page-inner section {
  font-size: 16px;
}
.block {
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px;
  border-color: #333;
  border-style: solid;
}

.exampleblock {
  padding: 10px 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px;
  border-color: #333;
  border-style: solid;
  background: #eee;
}

.alertblock {
  padding: 22px 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px;
  border-color: #c04384;
  border-style: solid;
  background: #eee;
  background-image: url(img/alert.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 2px 2px;
}
img.client{
  height: 100px !important;
}
img.cc{
  height: 30px !important;
}
h3, .h3, .book .book-body .page-wrapper .page-inner section.normal h3 {
  font-size: 30px;
  color: #356196;
  font-family: 'flanders_art_sansregular', sans-serif;
}
h4, .h4,  .book .book-body .page-wrapper .page-inner section.normal h4{
  font-size: 22px;
  color: #356196;
  font-family: 'flanders_art_sansregular', sans-serif;
}
h5, .h5,  .book .book-body .page-wrapper .page-inner section.normal h5{
  font-size: 18px;
  color: #356196;
  font-family: 'flanders_art_sansregular', sans-serif;
}
h6, .h6,  .book .book-body .page-wrapper .page-inner section.normal h6{
  font-size: 16px;
  color: #356196;
  font-family: 'flanders_art_sansregular', sans-serif;
}
